<ul class="list-group">
    <li class="list-group-item" routerLink=""  [ngClass]="{'current-active':isHomePage()}">Courses</li>
    <li class="list-group-item" routerLink="courseDetail" routerLinkActive="current-active">Course Detail</li>
    <li class="list-group-item" routerLink="login" routerLinkActive="current-active">Login</li>
    <li class="list-group-item" routerLink="validator" routerLinkActive="current-active">Validator</li>
    <li class="list-group-item" routerLink="myCourse" routerLinkActive="current-active">My Courses</li>
    <li class="list-group-item" routerLink="profile" routerLinkActive="current-active">Profile</li>
    <li class="list-group-item" routerLink="certificate" routerLinkActive="current-active">Certificates</li>
</ul>